<!DOCTYPE html>
<html lang="<%= I18n.locale %>">  <head>
    <meta charset="UTF-8">    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Rails on Render!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container mt-4 mb-4">
    <a href="https://render.com">
    <%= image_tag 'render.png', class: 'mw-100' %>
    </a>
    </header>

    <%= yield %>
  </body>
</html>
